.ba-section-accordion{
	background: $light-gray;
	padding-top: 100px;
	padding-bottom: 150px;

	&__title{
		text-transform: uppercase;
		letter-spacing: 8px;
		margin-bottom: 50px;
		text-align: center;
		font-weight: 400;
	}
}


.menu{


	li{
		position: relative;
	}
	img{
		position: absolute;
		top: 30px;
		left: 0;
		padding-right: 10px;
	}
	
	.ba-line{
		// position: relative;
		padding-left: 40px;
		padding-top:30px ;
		color:$black;
		margin-bottom: 25px;
		border-top: 1px solid $dark-green;
		letter-spacing: 1.8px;
		&--bottom{
			border-bottom: 1px solid $dark-green;
			padding-bottom: 30px;
		}
	
		

		// }
	}
	
	a{
		color:$dark-green;
	}

	.ba-text{
		padding-top: 60px;
		line-height: 2.5;
	}
	
}

