<header class="ba-header-wrap">    
	<div class="ba-header-header">
		 <div class="row align-middle show-for-large ba-fixed-menu">
				 <div class="ba-menu">
					  <ul class="menu ba-left-nav" data-smooth-scroll>
							<li><a href="#home">Home</a></li>
							<li><a href="#">Products</a></li>
							<li><a href="#faqs">FAQS</a></li>
							<li><a href="#">Contact Us</a></li>
						 </ul>
							<div class="column ba-logo">
									<a href="/">
										  <img src="assets/img/my-logo.png" alt="Logo">
									</a>
							</div>
							<!-- /.column -->
							<ul class="menu  ba-right-nav align-right">
								 <li><a href="#">login</a></li>
								 <li><a href="#">
									<img src="assets/img/search-icon.svg" alt="search"> 
									Search</a></li>
								 <li><a href="#">Cart (0)</a></li>
							</ul>
							
									 <div class="column shrink">
										<button class="menu-icon dark hide-for-medium" type="button" data-open="offCanvas" aria-label="Show menu">
												  </button>
												  
								  </div>
								  <!-- /.column -->

								
							

				 </div>
				 <!-- /.ba-menu -->
		 </div>
		 <!-- /.row -->
	</div>

	<section id="home" class="ba-section-intro">
		<div class="row column small-12 medium-6 large-6">
			<h1 class="ba-section-intro__title">Enhancing Life <br>
				Excelling in Care</h1>
			<p class="ba-section-intro__subtitle">Choose Wisely. Choose CBD.</p>

			<a class="ba-section-intro__btn" href="#start-hopping">Start Shopping</a>

			<a  class="ba-section-intro__btn-see"	href="#product">
				See all products
				<svg  width="30" height="20.09" viewBox="0 0 40 20.09">
					<path d="M1041.73,4669.35h0l-9.09-9.08a0.908,0.908,0,0,0-1.38,1.18,0.474,0.474,0,0,0,.1.1l7.53,7.54h-35.98a0.905,0.905,0,1,0,0,1.81h35.98l-7.53,7.53a0.908,0.908,0,0,0,1.18,1.38,0.943,0.943,0,0,0,.1-0.1l9.09-9.08A0.911,0.911,0,0,0,1041.73,4669.35Z" transform="translate(-1002 -4659.94)"/>
				 </svg>
				 </a>

		</div>
		<!-- /.row column small-12 medium-6 large-6 -->
	</section>
</header>