<section class="ba-section-accordion">

		<div class="row column small-12 medium-6 large-5 align-center">

			<h3 class="ba-section-accordion__title">
				Frequently asked questions
			</h3>
			
				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li class="ba-line">
						<img src="assets/img/plus.png" alt="plus">

					  <a href="#">What is Cannabidiol (CBD)?</a>
					  <ul class="menu vertical nested">
						 <li class="ba-text">Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States. </li>
						 
					  </ul>
					</li>
					
					<li class="ba-line">
						<img src="assets/img/plus.png" alt="plus">
						<a href="#">Is Hemp-Derived Cannabidiol (CBD) Legal?</a>
						<ul class="menu vertical nested">
							<li class="ba-text">Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States. </li>
							
						 </ul>
					</li>
					<li class="ba-line">
						<img src="assets/img/plus.png" alt="plus">

						<a href="#">Are there any negative side effects?</a>
						<ul class="menu vertical nested">
							<li class="ba-text">Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States. </li>
							
						 </ul>	
					
					</li>
					<li class=" ba-line ba-line--bottom">
						<img src="assets/img/plus.png" alt="plus">

						<a href="#">Do you offer a return policy?</a>
						<ul class="menu vertical nested">
							<li class="ba-text">Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States. </li>
							
						 </ul>
					</li>
				 </ul>
				 
		
				
			</div>
			<!-- /.row clomn -->

</section>

